.date-style{
    color: black;
    font-weight: bold;
}

.research-timeline-element .vertical-timeline-element-content {
    border: 2px solid #0077b6;
    color: #ffffff;
    background: transparent;
    box-shadow: none;
}

.research-timeline-element .vertical-timeline-element-content-arrow {
    border-right: 7px solid #0077b6;
}

.research-timeline-element .vertical-timeline-element-icon {
    background: #023e8a;
    box-shadow: 0 0 0 4px #0077b6, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.research-timeline-element--journal .vertical-timeline-element-icon {
    background: #03045e;
}

.research-timeline-element--proceedings .vertical-timeline-element-icon {
    background: #023e8a;
}

.research-timeline-element--demo .vertical-timeline-element-icon {
    background: #0077b6;
}

.research-timeline-element--final .vertical-timeline-element-icon {
    background: #ffffff;
    box-shadow: 0 0 0 4px #0077b6, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}